<div class="max-w-screen-lg">
  <div [class.loading]="clientResource.isLoading()">
    @if (clientResource.error()) {
      <app-generic-error
        text="Failed to load client"
        [showReload]="true"
        (reload)="clientResource.reload()"
      ></app-generic-error>
    }
    @if (clientResource.value(); as data) {
      <app-client-info [displayData]="data"></app-client-info>
    }
  </div>

  @if (showBucket()) {
    <div [class.loading]="populatedBucketResource.isLoading()">
      @if (populatedBucketResource.error()) {
        <app-generic-error text="Failed to load bucket"></app-generic-error>
      }
      @if (populatedBucketResource.value(); as data) {
        <app-client-bucket [bucket]="data"></app-client-bucket>
      }
    </div>
  }
</div>
