<div>
  <h2 class="px-6 py-4 text-lg">Bucket</h2>
  <div class="relative overflow-x-auto">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
        <tr>
          <th scope="col" class="px-6 py-3">Product name</th>
          <th scope="col" class="px-6 py-3">Material</th>
          <th scope="col" class="px-6 py-3">Price</th>
          <th scope="col" class="px-6 py-3">Amount</th>
          <th scope="col" class="px-6 py-3">Total price</th>
        </tr>
      </thead>
      <tbody>
        @for (product of bucket()?.goods; track product) {
          <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
            >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
              {{ product.product.name }}
            </th>
            <td class="px-6 py-4">
              {{ product.product.material }}
            </td>
            <td class="px-6 py-4">
              {{ product.product.price | currency }}
            </td>
            <td class="px-6 py-4">
              {{ product.amount }}
            </td>
            <td class="px-6 py-4">
              {{ +product.product.price * product.amount | currency }}
            </td>
          </tr>
        }
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            colspan="4"
            >
            Total
          </th>
          <td class="px-6 py-4">
            {{ bucket()?.total | currency }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
