<aside
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <app-controller></app-controller>
    <ul class="space-y-2 font-medium">
      <li *ngFor="let route of routes">
        <div>
          <a
            href="#"
            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group"
          >
            <span class="ms-3">{{ route.title }}</span>
          </a>
        </div>
        <ul *ngIf="route.child?.length">
          <li *ngFor="let child of route.child">
            <a
              [routerLink]="[child.path]"
              class="cursor-pointer pl-10 flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
            >
              <span class="ms-3">{{ child.title }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
<div class="p-4 sm:ml-64">
  <router-outlet />
</div>
