<aside
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div
    class="h-full px-3 py-4 overflow-y-auto bg-gray-50 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-blue-100 [&::-webkit-scrollbar-thumb]:bg-blue-500"
  >
    <app-controller></app-controller>
    <ul class="space-y-2 font-medium">
      @for (route of routes; track route) {
        <li>
          <div>
            <a
              href="#"
              class="flex items-center p-2 text-gray-900 rounded-lg group"
            >
              <span class="ms-3">{{ route.title }}</span>
            </a>
          </div>
          @if (route.child?.length) {
            <ul>
              @for (child of route.child; track child) {
                <li>
                  <a
                    [routerLink]="[child.path]"
                    class="cursor-pointer pl-10 flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group"
                  >
                    <span class="ms-3">{{ child.title }}</span>
                  </a>
                </li>
              }
            </ul>
          }
        </li>
      }
    </ul>
  </div>
</aside>
<div class="p-4 sm:ml-64 bg-gray-50 min-h-screen flex flex-col">
  <router-outlet />
</div>
