<div class="max-w-screen-lg">
  <div [class.loading]="clientStore.loading | async">
    @if (clientStore.error | async; as error) {
      <app-generic-error [text]="error"></app-generic-error>
    } @else {
      <app-client-info
        [displayData]="clientStore.data | async"
      ></app-client-info>
    }
  </div>

  @if (showBucket()) {
    <div [class.loading]="populatedBucketStore.loading | async">
      @if (populatedBucketStore.error | async; as errors) {
        @for (error of errors; track error) {
          @if (error) {
            <app-generic-error [text]="error"></app-generic-error>
          }
        }
      } @else {
        @if (populatedBucketStore.data | async; as data) {
          <app-client-bucket [bucket]="data"></app-client-bucket>
        }
      }
    </div>
  }
</div>
