<div class="max-w-screen-lg">
  <div [class.loading]="clientRequest.loading$ | async">
    @if (clientRequest.error$ | async) {
      <div>Failed to load client</div>
    }
    @if (clientRequest.data$ | async; as data) {
      <app-client-info [displayData]="data"></app-client-info>
    }
  </div>

  <div *ngIf="showBucket" [class.loading]="combined.loading$">
    @if (combined.error$ | async) {
      <div>Failed to load bucket</div>
    }
    @if (combinedData$ | async; as data) {
      <app-client-bucket [bucket]="data"></app-client-bucket>
    }
  </div>
</div>
