<div class="flex">
  <div class="relative size-48 mx-6 my-6">
    <img
      class="size-full rounded-base"
      [src]="displayData()?.avatar"
      alt="Avatar"
    />
  </div>

  <div class="w-full">
    <div class="relative overflow-x-auto">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              Id
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.clientId }}
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              Name
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.name }}
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              Birthdate
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.birthdate | date }}
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              Email
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.email }}
            </td>
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              Registered At
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.registeredAt | date }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
