<div class="flex">
  <div class="relative size-48 mx-6 my-6">
    <img
      class="size-full rounded-base object-contain object-center"
      [src]="displayData()?.avatar"
      alt="Avatar"
      (error)="onImgError($event)"
    />
  </div>

  <div class="w-full">
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <tbody>
          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              Id
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.clientId }}
            </td>
          </tr>
          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              Name
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.name }}
            </td>
          </tr>
          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              Birthdate
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.birthdate | date }}
            </td>
          </tr>
          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              Email
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.email }}
            </td>
          </tr>
          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              Registered At
            </th>
            <td class="px-6 py-4">
              {{ displayData()?.registeredAt | date }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
